---
layout: default
title: Résumé
date: Résumé
---
<article class="post">

<h2>Qu, Xiao Feng / 曲晓峰</h2>
<p>Ph.D. Candidate</p>
<p>
<a href="http://www.comp.polyu.edu.hk/en/home/index.php" target="_blank">Department of Computing</a></br>
<a href="http://www.polyu.edu.hk/cpa/polyu/index.php" target="_blank">The Hong Kong Polytechnic University</a>
</p>
<h4>Lab</h4>
<p><a href="http://www4.comp.polyu.edu.hk/~biometrics/" target="_blank">Biometrics Research Centre (BRC)</a></p>
<h4>Mail Address</h4>
<p>
Mailbox 64, Department of Computing,</br>
The Hong Kong Polytechnic University,</br>
Hung Hom, Kowloon, Hong Kong
</p>
<h4>Contact</h4>
<p>
Office :&nbsp; PQ702</br>
Email :&nbsp; <a href="mailto:csxfqu@comp.polyu.edu.hk" title="Mail to Qu Xiaofeng">csxfqu@comp.polyu.edu.hk</a></br>
Office Tel :&nbsp; +852 2766 7902</br>
</p>
<h3>Work Experience</h3>
<ul>
    <li>
    <span class="date">2008.4 ~ 2010.4&nbsp;  </span>Research Assistant</br>
    <a href="http://www4.comp.polyu.edu.hk/~biometrics/" target="_blank">Biometrics Research Centre</a>,&nbsp;  <a href="http://www.polyu.edu.hk/cpa/polyu/index.php" title="Hong Kong Polytechnic University" target="_blank">Hong Kong Polytechnic University</a>
    </li>
    <li>
    <span class="date">2010.9 ~ 2012.4&nbsp;  </span>Editor Assistant</br>
    <a href="http://www.worldscinet.com/ijig/" target="_blank">International Journal of Image and Graphics (IJIG)</a>
    </li>
</ul>
<h3>Teaching Experience</h3>
<ul>
    <li>Teaching Assistant,&nbsp;   COMP407 Computer Graphics,&nbsp;   2010 Fall</li>
    <li>Teaching Assistant,&nbsp;   COMP102 Enterprise Information Technology,&nbsp;   2011 Spring</li>
    <li>Teaching Assistant,&nbsp;   COMP210 Discrete Structures, Taught by <a href="http://www.cas.mcmaster.ca/~rzheng/">Associate Professor Zheng Rong</a>,&nbsp;   2011 Fall</br>
        <a href="https://github.com/quxiaofeng/comp210tut" target="_blank">Public Tutorials on GitHub</a></li>
    <li>Teaching Assistant,&nbsp;   COMP435p Biometrics Authentication,&nbsp;   2012 Spring</br>
        <a href="https://github.com/quxiaofeng/COMP435p" target="_blank">Public Tutorials on GitHub</a></br>
        <a href="https://bitbucket.org/quxiaofeng/comp435p" target="_blank">Private Information on BitBucket</a></li>
    <li>Teaching Assistant,&nbsp;   ENG2003 Information Technology,&nbsp;   2012 Fall</br>
        <a href="https://github.com/quxiaofeng/eng2003" target="_blank">Public Tutorials on GitHub</a></br>
        <a href="https://bitbucket.org/quxiaofeng/eng2003" target="_blank">Private Information on BitBucket</a></li>
</ul>
<h3>Patents</h3>
<ul>
    <li>
    <a href="https://github.com/quxiaofeng/mycv/raw/master/patents/CN200610155870.1.pdf" target="_blank">
        圆筒内外壁加工精度在线成像检测装置及在线成像检测方法 
        On-line imaging detection device and method for cylindrical internal and external wall machining, China Patent 200610155870</a>
    </li>
    <li>
    <a href="https://github.com/quxiaofeng/mycv/raw/master/patents/CN200620168791.X.pdf" target="_blank">
        圆筒内外壁加工精度在线成像检测装置 
        Cylinder inside and outside wall machine precision on-line image-forming testing apparatus, China Patent 200620168791</a>
    </li>
    <li>
    <a href="https://github.com/quxiaofeng/mycv/raw/master/patents/CN201110362063.8.pdf" target="_blank">
        一种人体掌纹图像采集装置及处理方法</a>
    </li>
</ul>
<h3><a href="http://scholar.google.com.hk/citations?hl=en&user=zgRM4foAAAAJ&view_op=list_works&gmla=AJsN-F62Q-YNqJLl1xBlB0AslVyqeGPvAHBZVDyQDgq0zydH3f4XckQ3x12Xr24_V6kt7K0jp6DB6b30FU-dAifGC7ctWTzwuhxtho3fOzEOkHEd4ncpRoGIde5P1gx725-xbhK-djiC" target="_blank">Publications</a></h3>
</article>
