<div class="box fn-clear">
    <h3 class="title"><a href='http://www4.comp.polyu.edu.hk/~csxfqu/2012/06/25/segmentation-evaluation.html'>Segmentation Evaluation</a></h3>
    <h5 class="title">First Round</h5>
    <ul>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveya.html'><strong>Survey A</strong></a></li>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveyb.html'><strong>Survey B</strong></a></li>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveyc.html'><strong>Survey C</strong></a></li>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveyd.html'><strong>Survey D</strong></a></li>
    </ul>
    <h5 class='title'>Second Round</h5>
    <ul>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveye.html'><strong>Survey E</strong></a></li>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveyf.html'><strong>Survey F</strong></a></li>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveyg.html'><strong>Survey G</strong></a></li>
        <li>&#8227;<a href='http://www4.comp.polyu.edu.hk/~csxfqu/manual/surveyh.html'><strong>Survey H</strong></a></li>
    </ul>
</div>
